```css
/* Más de 400px de ancho */
@media (min-width: 401px){
    body{
        background-color: rgb(40,60,80);
    }
}

/* Menos de 800px */
@media (max-width: 799px){
    h1{
        text-align: center;
    }
}

/* Orientación horizontal */
@media (orientation: landscape){
    article{
        max-width: 50ch;
    }
}

/* Alto mínimo 200px */
@media (min-height: 200px){
    h1{
        background-color: #446;
    }
}

/* Impresión */
@media print{
    p{
        font-family: serif;
    }
}

/* Usuario prefiere colores claros */
@media (prefers-color-scheme: light){
    body,
    h1{
        color: #111;
        background-color: #DDD;
    }
}

/* Pantalla sin soporte hover */
@media screen and (hover: none){
    a{
        background-color: #212;
        padding: 2px 5px;
    }
}

/* Entre 800 y 899 px */
@media screen and (min-width: 800px) and (max-width: 899px){
    img{
        display: none;
    }
}

/* Entre 200 y 400 px */
@media screen and (min-width: 200px) and (max-width: 400px){
    img{
        height: 400px;
        object-fit: cover;
    }
}

/* Device Pixel Ratio mayor a 2 */
@media (min-resolution: 2.01dppx){
    article{
        background-color: #667;
    }
}
```
