```css
body{
background:#222;
color:#ee6;
}

h1{
text-align:center;
}

p{
font-family:sans-serif;
}

h1,h2,h3{
color:#eee;
}

strong{
border-bottom:1px solid white;
}

.the-force{
background:#444;
font-weight:bold;
}

.light-side{
color:#66f;
}

.dark-side{
color:#f33;
}

#og-trilogy{
list-style-type:circle;
}

.movies-list:nth-of-type(2){
padding-left:40px;
}

.movies-list:last-of-type li:last-child{
margin-top:20px;
}

/* BONUS */

h1,h2,h3{
text-transform:uppercase;
}

p:first-of-type::first-line{
color:#efe;
}

h1:hover{
color:gold;
}

a:visited{
color:gray;
}

a:not([href]){
font-style:italic;
}

.movies-list li:nth-child(odd){
background:#111;
}

.movies-list li:nth-child(even){
background:#333;
}
```
