body article h1.titulo{
text-align:center;
}
body p{
font-family:serif;
}
#primer-parrafo{
background-color:#CEE;
}
#primer-parrafo em{
color:#933;
}
a{
outline:1px solid #333;
}
body p.fuente{
opacity:100%;
}
p:not([id]){
background-color:rgba(190,120,240,0.6);
}

html body p.fuente.parrafo{
color:#000;
}
span.complicado{
font-weight:bold;
color:#C62 !important;
}
